<!DOCTYPE html>
<html lang="en">

{% block title %}
    <title>Ljj的Blog</title>
{% endblock %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="LJJ" />
    <meta name="description" content="LJJ's blog">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/favicon.png')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Stylesheets & Fonts -->
    <link href="{{url_for('static',filename='css/plugins.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">

    <!-- BLOG FONT & STYLE -->
    <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='blog/css/style-blog.css')}}"media="screen" rel="stylesheet" type="text/css" />
{% endblock %}



<body>

    <!-- Body Inner -->
    <div class="body-inner">
        {% include 'elements/header.html' %}
        {% block author%}
        <!-- AUTHOR NAME -->
        <section>
            <div class="blog-author-title">
                LJJ's Blog
            </div>
        </section>
        <!-- end: AUTHOR NAME -->
        {% endblock %}

        {% block slider%}
        <!-- Inspiro Slider -->
        <section>
            <div class="container">
                <div id="slider" class="inspiro-slider slider-fullscreen dots-creative">

                    <!-- Slide 1 -->
                    <div class="slide kenburns" data-bg-image="{{url_for('static', filename='images/slider1.jpeg')}}">
                        <div class="bg-overlay"></div>
                        <div class="container">
                            <div class="slide-captions text-center text-light">
                                <!-- Captions -->
                                <span class="strong"><a href="#" class="business"><span class="business">Ljj</span></a>
                                </span>
                                <h2 class="h4">网站正在建设中</h2>
                                <div><button type="button" class="btn btn-primary">NA</button>
                                    <button type="button" class="btn btn-light">NA</button></div>
                                <!-- end: Captions -->
                            </div>
                        </div>
                    </div>
                    <!-- end: Slide 1 -->

                    <!-- Slide 2 -->
                    <div class="slide kenburns" data-bg-video="{{url_for('static', filename='videos/slider1.mp4')}}">
                        <div class="bg-overlay"></div>
                        <div class="container">
                            <div class="slide-captions text-start text-light">
                                <!-- Captions -->
                                <span class="strong"><a href="#" class="business"><span class="business">Ljj</span></a>
                                </span>
                                <h2 class="h4">网站正在建设中</h2>
                                <div><button type="button" class="btn btn-primary">NA</button>
                                    <button type="button" class="btn btn-light">NA</button></div>
                                <!-- end: Captions -->
                            </div>
                        </div>
                    </div>
                    <!-- end: Slide 2 -->
        
                </div>
            </div>
        </section>
        <!--end: Inspiro Slider -->
        {% endblock %}

        {% block content%}
        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <!-- post content -->

                <!-- Blog -->
                <div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">

                    <!-- Post item-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="#">
                                    <img alt="" src="images/blog/12.jpg">
                                </a>
                                <span class="post-meta-category"><a href="">Lifestyle</a></span>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                                <h2><a href="#">Standard post with a single image
                                    </a></h2>
                                <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                                <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- end: Post item-->

                    <!-- Post item YouTube-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-video">
                                <iframe width="560" height="320" src="https://www.youtube.com/embed/dA8Smj5tZOQ" frameborder="0" allowfullscreen></iframe>
                                <span class="post-meta-category"><a href="">Video</a></span>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                                <h2><a href="#">This is a example post with YouTube</a></h2>
                                <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                                <a href="#" class="item-link">Read More </a>

                            </div>
                        </div>
                    </div>
                    <!-- end: Post item YouTube-->

                    <!-- Post item-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-slider">
                                <div class="carousel dots-inside arrows-visible arrows-only" data-items="1" data-loop="true" data-autoplay="true" data-lightbox="gallery">
                                    <a href="images/blog/11.jpg" data-lightbox="gallery-image">
                                        <img alt="" src="images/blog/16.jpg">
                                    </a>
                                    <a href="images/blog/16.jpg" data-lightbox="gallery-image">
                                        <img alt="" src="images/blog/11.jpg">
                                    </a>
                                </div>
                                <span class="post-meta-category"><a href="">Technology</a></span>
                            </div>

                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                                <h2><a href="#">Simplicity, a post with slider gallery</a></h2>
                                <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet. Pulvinar euismod antesagittis ante posuere ligula pharetra laoreet.</p>

                                <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- end: Post item-->

                    <!-- Post item Vimeo-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-video">
                                <iframe src="https://player.vimeo.com/video/198559065?title=0&byline=0&portrait=0" width="560" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                <span class="post-meta-category"><a href="">Video</a></span>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                                <h2><a href="#">This is a example post with Vimeo video</a></h2>
                                <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet. Cagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat.
                                    Fusce at velit id ligula pharetra laoreet.</p>

                                <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- end: Post item Vimeo-->



                    <!-- Post item HTML5 Audio-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-audio">
                                <a href="#">
                                    <img alt="" src="images/blog/audio-bg.jpg">
                                </a>
                                <span class="post-meta-category"><a href="">Audio</a></span>
                                <audio class="video-js vjs-default-skin" controls preload="false" data-setup="{}">
                                    <source src="audio/beautiful-optimist.mp3" type="audio/mp3" />
                                </audio>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                                <h2><a href="#">Self Hosted HTML5 Audio (mp3) with image cover</a></h2>
                                <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                                <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- end: Post item-->

                    <!-- Post item-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="#">
                                    <img alt="" src="images/blog/17.jpg">
                                </a>
                                <span class="post-meta-category"><a href="">Science</a></span>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                                <h2><a href="#">Standard post with a single image
                                    </a></h2>
                                <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.
                                </p>

                                <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- end: Post item-->

                    <!-- Post item-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="#">
                                    <img alt="" src="images/blog/18.jpg">
                                </a>
                                <span class="post-meta-category"><a href="">Science</a></span>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>

                                <h2><a href="#">Standard post with a single image
                                    </a></h2>
                                <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                                <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- end: Post item-->



                    <!-- Post item-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-slider">
                                <div class="carousel dots-inside arrows-visible arrows-only" data-autoplay="2600" data-animate-in="fadeIn" data-animate-out="fadeOut" data-items="1" data-loop="true" data-autoplay="true" data-lightbox="gallery">
                                    <a href="images/blog/19.jpg" data-lightbox="gallery-image">
                                        <img alt="" src="images/blog/19.jpg">
                                    </a>
                                    <a href="images/blog/20.jpg" data-lightbox="gallery-image">
                                        <img alt="" src="images/blog/20.jpg">
                                    </a>
                                </div>
                                <span class="post-meta-category"><a href="">Technology</a></span>
                            </div>

                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                                <h2><a href="#">Simplicity, a post with slider gallery</a></h2>
                                <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat. Fusce at velit id ligula pharetra laoreet.</p>

                                <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- end: Post item-->

                    <!-- Post item-->
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="#">
                                    <img alt="" src="images/blog/14.jpg">
                                </a>
                                <span class="post-meta-category"><a href="">Lifestyle</a></span>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>Jan 21, 2017</span>
                                <span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>
                                <h2><a href="#">Standard post with a single image
                                    </a></h2>
                                <p>Curabitur pulvinar euismod ante, ac sagittis ante posuere ac. Vivamus luctus commodo dolor porta feugiat.</p>

                                <a href="#" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <!-- end: Post item-->


                </div>
                <!-- end: Blog -->

                <!-- Pagination -->
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
                <!-- end: Pagination -->

            </div>
            <!-- end: post content -->

        </section>
        <!-- end: Content -->
        {% endblock %}

        {% include 'elements/footer.html' %}
    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!--Template functions-->
    <script src="js/functions.js"></script>

</body>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
{% endblock %}

</html>
